.main
  .header
    div(class="ui blue inverted segment")
      h1 1/2 - Design Proposal Voting Website
    +loginButtons

  a(href="/initiate") 发起投票
  a(href="/") Homepage

  if currentUser
    {{> yield}}

  div.footer