.main
  .header
    h1 1/2 - Design Proposal Voting Website
    //- +loginButtons
  .topContainer
    a(href='/') homepage
    if currentUser
      a(href='/profile/#{currentUser.username}') #{currentUser.username}
      button.logout(type='button') logout


  hr

  //- if currentUser
  {{> yield}}