//sidebar
div.ui.sidebar.vertical.menu.left
  a(class="item", href="/")
    i.home.icon
    p Homepage
  p.item
    分类
  a.item
    p 商标设计
  a.item
    p 图标设计
  a.item
    p 软件设计
  a.item
    p 网页设计
  a.item
    p 服装设计
  a.item
    p 照片
  a.item
    p 其他

//top menu
div.ui.fixed.main.menu
  div.headContainer
    div.left.menu
      a.item.sidebarButton
        i.layout.list.icon
      a.item.homepage(href="/") Black Or White
      a.item(href="/initiate") 发起投票
    div.right.menu
      if currentUser
        a.item
          i.user.icon
          a(href='/profile/#{currentUser.username}') #{currentUser.username}
        a.logout.item(type='button') 登出

//content
.main
  .header
  .container
    //- if currentUser
    {{> yield}}

  // 底部
  div.footer
    span.dataAndName © 2015 Black Or White
