#votelist
  div(class="ui blue segment")
    each votelist
      div(class="ui red segment")
        div(class="ui left floated large header")
          a.title(href='/detail/#{_id}') #{title}
        div(class="ui clearing divider")

        div(class="ui two column middle aligned relaxed grid basic segment")
          div(class="column vimg")
            img.firstImage(src='#{firstUrl}')
            

          div(class="ui vertical divider")
            or

          div(class="column vimg")
            img.secondImage(src='#{secondUrl}')
