#initiate
  form.initiateVote
    div(class="ui form segment upload")
      div(class="field")
        label title
        input(type="text", name="title")

        label category
        select(name='category')
          option(value='logo') logo
          option(value='background') background
        div(class="ui two column relaxed grid basic segment")
          div(class="column details")
            div(class="ui blue segment field")
              label first image
              input(type='file', name='firstImage', accept='image/*')

              label first description:
              textarea(name='firstDescription')

              label first preview:
              img.firstPreview(src='/previewDefault.jpg')

          div(class="ui vertical divider")
          div(class="column details")
            div(class="ui blue segment field")
              label second image:
              input(type='file', name='secondImage', accept='image/*')

              label second description:
              textarea(name='secondDescription')

              label second preview:
              img.secondPreview(src='/previewDefault.jpg')
        div(class="ui green segment field")
          label describe
          textarea(name='question')
    input(type='submit', value='upload', class="ui button")
