#initiate
  form.ui.form.segment.initiate
    //- div.ui.form.segment
    div.field
      label
       h1 Title
      input(type="text", placeholder="title", name="title", maxlength="10", size="10")
    div.field
      label category
      select(name='category')
        option(value='categ0') 商标设计
        option(value='categ1') 图标设计
        option(value='categ2') 软件设计
        option(value='categ3') 网页设计
        option(value='categ4') 服装设计
        option(value='categ5') 照片
        option(value='categ6') 其他
    div.ui.two.column.relaxed.grid.basic.segment
      //first image
      div.column
        div.field
          input(type='file', name='firstImage', accept='image/*')
        div.field
          input(name='firstDescription', placeholder="description")
        div.field
          img.firstPreview(src='/previewDefault.jpg')

      div.ui.vertical.divider

      //second image
      div.column
        div.field
          input(type='file', name='secondImage', accept='image/*')
        div.field
          input(name='secondDescription', placeholder="description")
        div.field
          img.secondPreview(src='/previewDefault.jpg')
    div.field
      label
        h1 Question
        textarea(name='question')
    input.ui.active.button(type='submit', value='upload')
    div.errormessage.ui.error.message